html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Tian OS canvas style */
.txOS {
    z-index: 0;
    overflow: hidden;
    position: relative;
    margin:0;
    width:100%;
    height:100%;
    background: #E6E6E6 url(img/texture.png) repeat 0 0;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

/* disable select for widget */
.txWidgetNoSelect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
           -o-user-select: none;
              user-select: none;
}

/* Tian title bar */
.txWidgetTitleBar {
    position: absolute;
    top: 2px;
    left: 6px;
    right: 36px;
    height: 32px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 30px;
}
.txWidgetTitleBarTitle {
    font-size: 16px;
    font-weight: bold;
}
.txWidgetTitleBarNotification {
    font-size: 14px;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
}

/* Tian taskbar */
.txWidgetTaskbar {
    position: absolute;
    bottom: 16px;
    left: 64px;
    right: 64px;
    height: 36px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* Tian main panel */
.txWidgetMainPanel {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url(img/main_icon.png);
    background-repeat: no-repeat;
}
.txWidgetMainPanelContent {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background-color: white;
    overflow: auto;
    border: none;
}

/* Tian embeded application */
.txApp {
    float: left;
    text-align: left;
    margin: 0px;
    padding: 5px;
    width: 160px;
    height: 32px;
    cursor: pointer;
    overflow: hidden;
}
.txApp > img {
    width: 32px;
    height: 32px;
    margin: 0;
    float: left;
    border: 0 none;
}
.txApp > p {
    height: 32px;
    font-size: 14px;
    padding-left: 5px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}
div.txApp:hover {
    background-color: #e5ecf9;
}

/* Tian Windowing System */
.txWindow, .txWindowActive {
	position: absolute;
	border-radius: 9px 9px 0 0;
	-moz-border-radius: 9px 9px 0 0;
	-webkit-border-radius: 9px 9px 0 0;
}
.txWindow {
	border: solid 3px #CCCCCC;
	background-color: #EEEEEE;
}
.txWindowActive {
    border: solid 3px #CCCCCC;
    background-color: #EEEEEE;
}
.txWinTitle {
	position: relative;
	margin: 0px;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	height: 24px;
	text-align: center;
}
.txWindow .txWinTitle {
    background-color: #CCCCCC;
	border-bottom: solid 3px #CCCCCC;
}
.txWindowActive .txWinTitle {
    background-color: #CCCCCC;
	border-bottom: solid 3px #CCCCCC;
}
.txWinTitleText {
    position: absolute;
    top: 0px;
    left: 72px;
    right: 48px;
    width: auto;
    height: 20px;
    font-size: 14px;
    padding-top: 4px;
	overflow: hidden;
	white-space: nowrap;
	cursor: move;
}
.txWinCloseBox, .txWinCloseBoxActive, 
.txWinMaxBox, .txWinMaxBoxActive, 
.txWinMinBox, .txWinMinBoxActive, 
.txWinZoomBox, .txWinZoomBoxActive {
    position: absolute;
    top: 0px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url(img/win_icons.png);
    background-repeat: no-repeat;
}
.txWinCloseBoxActive {
    left: 0px;
    background-position: 0px 0px;
}
.txWinCloseBox {
    left: 0px;
    background-position: 0px -24px;
}
.txWinMinBoxActive {
    left: 24px;
    background-position: -24px 0px;
}
.txWinMinBox {
    left: 24px;
    background-position: -24px -24px;
}
.txWinMaxBoxActive {
    left: 48px;
    background-position: -48px 0px;
}
.txWinMaxBox {
    left: 48px;
    background-position: -48px -24px;
}
.txWinZoomBoxActive {
    right: 0px;
    cursor: ne-resize;
    background-position: -72px 0px;
}
.txWinZoomBox {
    right: 0px;
    cursor: ne-resize;
    background-position: -72px -24px;
}
.txWinLoading {
    position: absolute;
    top: 0px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-image: url(img/win_loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    visibility: hidden;
}
.txWinContent {
    position:relative;
	background-color: #fff;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.txWinContentSafari {
    position:relative;
	background-color: #fff;
	padding: 0px;
	margin: 0px;
	overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.txWinFrame {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    border: none;
}
.txWinTaskBarIcon, .txWinTaskBarIconActive{
	height:32px;
	margin-right:5px;
	display: inline-block;
	vertical-align: middle;
	cursor:pointer;
	padding:0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.txWinTaskBarIcon{
	border: 2px solid #BBBBBB;
	background-color: transparent;
}
div.txWinTaskBarIcon:hover{
	border: 2px solid #6BADF6;
    background-color: white;
}
.txWinTaskBarIconActive{
	border: 2px solid #6BADF6;
	background-color: #6BADF6;
}
.txWinTaskBarIcon img, .txWinTaskBarIconActive img{
	width: 32px;
	height: 32px;
	margin: 0px 2px -3px 2px;
}
.txWinTaskBarIcon span, .txWinTaskBarIconActive span {
    display: none;
}

