html{
	width:100%;
}
body {
	font-family: "Courier New";
	font-size: 12px;
	padding:0;
	margin:0;
	background-color:#E5ECF9;
}

.leftbar {
    text-align: center;
	background-color:#E5ECF9;
}
.leftbar span {
    color: red;
}
.leftbar ul {
    margin-left: 12px;
    margin-bottom: 6px;
    padding: 0;
    text-align: left;
}
.leftbar li {
    list-style-type: none;
    margin-top: 3px;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
	background-color:#FFFFFF;
}
.content pre {
    margin: 10px;
}
.content h3{
	margin: 10px;
	font-size:14px;
	border-bottom: solid 1px #3366cc;
}
.content p{
    margin-left: 10px;
}
.content code {
    color: green;
    font-family: "Courier New";
}
.reftitle{
	position:relative;
	background-color:#E5ECF9;
	height:32px;
	line-height:32px;
	font-size:20px;
	font-weight:bold;
	padding-left: 10px;
}
.parameters {
    width: 63px;
    text-align: right;
    display: -moz-inline-box;
    display: inline-block;
}
